.turquoise { background: #1abc9c !important; }
.emerland { background: #2ecc71 !important; }
.peterriver { background: #3498db !important; }
.amethyst { background: #9b59b6 !important; }
.wetasphalt { background: #34495e !important; }
.greensea { background: #16a085 !important; }
.nephritis { background: #27ae60 !important; }
.belizehole { background: #2980b9 !important; }
.wisteria { background: #8e44ad !important; }
.midnightblue { background: #2c3e50 !important; }
.sunflower { background: #f1c40f !important; color: black !important; text-shadow: none !important;}
.carrot { background: #e67e22 !important; }
.alizarin { background: #e74c3c !important; }
.clouds { background: #ecf0f1 !important; color: #666 !important; text-shadow: none !important;}
.clouds a {color:#666;}
.clouds a:hover, .clouds a:visited {color:#333;}
.concrete { background: #95a5a6 !important; }
.orange { background: #f39c12 !important; }
.pumpkin { background: #d35400 !important; }
.pomegranate { background: #c0392b !important; }
.silver { background: #bdc3c7 !important; color:#666 !important; }
.asbestos { background: #7f8c8d !important; }