@media screen and (min-width: 740px) {
	.cevap {
		padding: 35px 0;
		font-size: 25px;
		width: 49%;
		float: left;
		max-height: 24px;
		white-space:normal !important;
	}
	.cevap2 {
		padding: 35px 0;
		font-size: 19px;
		width: 49%;
		float: left;
		/* height: 31px; */
		max-height: 32px !important;
		white-space:normal !important;
	}
	
	.headerbutton {
		font-size: 40px;
	}
}
@media screen and (max-width: 740px) {
	#profil .rozet {
		    transform: scale(0.7) !important;
			transform-origin: right top !important;
		
	}
	.ui-listview img {
		height:50px !important;
	}
	.ui-btn-icon-right {
		padding: 12px 35px 12px 15px !important;
	}
	.ui-btn-icon-left {
		padding: 12px 15px 12px 35px !important;
	}
	.users {
		width: 80%;
	}
	.headerbutton {
		font-size: 20px;
		padding: 10px 0px;
	}
	.uni {
		width: 128px;
	}
	#chart-area {
	    display: block;
		margin: 0px auto;
		width: 200px;
		height: 200px;
		max-width: 100%;
	}
	.soruResim {
		min-width: 100px;
		display: block;
		margin: 0 auto;
		max-height: 100px;
	}
	.ui-btn {
		font-size: 14px !important;
		padding: 12px 15px;
	}
	.start h1 {
		font-size:20px !important;
	}
	.profilepic {
		width:64px;
		height:64px;
	}
	.start {
    text-align: center;
    position: absolute;
    z-index: 20000;
    width: 98%;
    height: 100%;
    left: 0px;
	}
	.start .profilepic {
		width:72px;
		height:72px;
	}
	.start .user1, .start .user2 {
    bottom: 50px;
	  

	}
	.start .user1 {
    top: 50px;
	
	}
    #navi i {
		font-size: 20px;
		display: block;
	}
	#navi a span {
		font-size: 12px;
		position: absolute;
		top: -3px;
		right: 0px;
		background-color: red;
		padding: 1px 5px;
		border-radius: 5px 5px 0 5px;
		box-shadow: 0px 1px 1px #000;
	}
	#navi2 a {
		text-align:center;
	}
	#navi2 a span {
    font-size: 15px;
	}
	#navi2 i {
    font-size: 30px;
    display: block;
	}
	.sorular {
    margin: 5% !important;
    width: 90% !important;
 }
	.ui-grid-a>.ui-block-a, .ui-grid-a>.ui-block-b {
		width: 50%;
	}
	.bigicon {
		font-size: 30px;
		display: block;
		margin: 0 auto;
		width: 30px;
	}
	.soru h1 {
		font-size: 16px;
	}
	.cevap {
		padding: 15px 0;
		white-space:normal !important;
		max-height:50px;
	}
	.counter durum {
	display:block;
	position:relative;
	z-index:1000;
	text-align:center;
	font-size:14px;
	text-shadow:0 2px 0px #000;

}
.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c {
    /* width: 31.333%; */
}
.textcenter {
    text-align: center !important;
    font-size: 12px;
}
.counter {
position:relative;
display:block;
width: 93%;
height: 20px;
border-radius: 10px;
overflow: hidden;
margin-top: 10px;
background-color: #5D5D5D;
border: solid 3px;
box-shadow: inset 0 0 3px #000;
z-index: 10000;
}
.counter saniye {
position:absolute;
box-shadow: inset 0 0 3px #000;
border-radius: 10px;
top:0px;
left:0px;
width: 100%;
height: 100%;
background-color: #0E9603;
display:block;
transition: all 0.5s;
}
.sonmesaj {

background-color: white;
    color: black;
    width: 80%;
    display: block;
    margin: 0 auto;
    white-space: normal;
	padding: 10px;
}
round {
    font-size: 19px;
    font-weight: bold;
    color: white;
    background-color: #266A7E;
    padding: 2px 7px;
    border-radius: 0px 0px 20px 20px;
    display: block;
    width: 57px;
    margin: 0 auto;
}
.bildirim span {
    padding: 0 10%;
    text-align: center !important;
    font-size: 12px;
    /* clear: both; */
}
.butonlist img {
    float: none;
    width: 68px; 
    display: block;
}
}